body{
    font-size: o.7rem;
}
a{
    text-decoration: none;
    color: goldenrod;
}
li{
    list-style: none;
}
.border-boxing{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 3px;
}
.border-boxing a{
    border-left: 1px solid lightgray;
    padding-left: 7px;
}
table, tr, td, th{
    border: 1px solid gray;
    border-spacing: 0;
}

/*---------------------------------------*/

main{
    display: flex;
}
aside{
    width: 20%;
    border-right: 1px solid gray;
}
article{
    width: 80%;
    padding-left: 20px;
}
.title{
    padding-left: 20px;
    color: darkgray;
    border-bottom: 1px solid gray;
}